@model List<EnfermedadModel>
@{
    ViewData["Title"] = "Listar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <h5 class="card-header">Lista de Enfermedades</h5>
    <div class="card-body">
        <a asp-action="Guardar" asp-controller="Mantenedor" class="btn btn-success"><i class="bi bi-plus-circle"></i> Registrar nueva Enfermedad
            </a>
        <hr />
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Tasa de mortalidad</th>
                    <th>Síntoma</th>
                    <th>Medicamento</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Nombre</td>
                        <td>@item.TasaMortalidad</td>
                        <td>@item.Sintoma</td>
                        <td>@item.Medicamento</td>
                        <td>
                            <a asp-action="Editar" asp-controller="Mantenedor" class="btn btn-primary btn-sm" asp-route-IdEnfermedad="@item.IdEnfermedad"><i class="bi bi-pencil-square"></i> Editar </a>
                        </td>
                        <td>
                            <a asp-action="Eliminar" asp-controller="Mantenedor" class="btn btn-danger btn-sm" asp-route-IdEnfermedad="@item.IdEnfermedad"><i class="bi bi-trash"></i> Eliminar </a>
                        </td>

                    </tr>
                }
            </tbody>
        </table>


    </div>
</div>
